<nz-layout>
  <app-header>
    <ng-container headerMenu>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="catalog" nzMatchRouter nzMatchRouterExact><span nz-icon nzType="ordered-list" nzTheme="outline"></span> Catálogo</li>
        <li nz-menu-item routerLink="orders" nzMatchRouter nzMatchRouterExact><span nz-icon nzType="shopping-cart" nzTheme="outline"></span> Pedidos</li>
      </ul>
    </ng-container>
  </app-header>
  <nz-content>
    <div class="py-5 px-3 lg:px-[50px]">
      Administrador
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer class="text-center">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
